*.gz
*.min
Thumbs.db
.DS_Store
*.swp
/dist
2015_spring/task/js/.idea/workspace.xml
*.iml
2015_spring/task/js/.idea/modules.xml
2015_spring/task/task0003/todo/.idea/modules.xml
2015_spring/task/task0003/todo/.idea/workspace.xml
