.border {
    border: 1px solid #CECECE;
}

.addCategoryDiv {
    background-color: #EEEEEE;
    width: 100%;
    margin-bottom: -1px;
    height: 40px;
    bottom: 0px;
    left: -1px;
    position: absolute;
}

.addCategoryText {
    color: black;
    font-size: 13px;
    position: relative;
    margin-top: 13px;
    margin-left: 45px;
    font-family: verdana;
    top: 0px;
}

.addCategoryImage {
    position: absolute;
    top: 12px;
    left: 22px;
}

.selectTasksDiv {
    background-color: white;
    width: 45px;
    height: 22px;
    float: left;
    margin-top: 9px;
    margin-left: 9px;
}

.unselectTasksDiv {
    width: 47px;
    height: 24px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.centerInParentText {
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
}

#selectedTaskTitleDiv {
    background-color: #F2F2F2;
    width: 100%;
    height: 50px;
    margin-left: -1px;
}

#selectedTaskTitleText {
    position: relative;
    margin-top: 18px;
    margin-left: 15px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

#tickImage {
    position: absolute;
    right: 67px;
    top: 12px;
}

#writeImage {
    position: absolute;
    right: 18px;
    top: 10px;
}

#selectedTaskTimeDiv {
    position: relative;
    background-color: #FAFAEE;
    width: 100%;
    height: 50px;
    margin-left: -1px;
    margin-top: -1px;
}

#selectedTaskTimeText {
    position: relative;
    margin-top: 17px;
    margin-left: 15px;
    font-size: 15px;
}

#selectedTaskContentDiv {
    background-color: white;
    position: absolute;
    top: 102px;
    bottom: 0px;
    left: 0px;
    right: -1px;
    margin-left: -1px;
    margin-top: -1px;
}

#selectedTaskContentText {
    margin-top: 0px;
    margin-left: 5px;
    font-size: 20px;
}

#selectedTaskContentTextArea {
    background-color: white;
    position: absolute;
    top: 0px;
    bottom: -40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF
}

.categoryNameImage {
    position: absolute;
    left: 20px;
    top: 9px;
}

.categoryDeleteImage {
    position: absolute;
    right: 20px;
    top: 9px;
}

.categoryAddImage {
    position: absolute;
    right: 40px;
    top: 8px;
}

.categoryNameText {
    position: absolute;
    left: 50px;
    top: 7px;
    margin: 0px;
    font-size: 14px;
}

.categoryNameDiv {
    height: 28px;
    position: relative;
}

.categoryNameDivSelected {
    height: 28px;
    position: relative;
    background-color: white;
}

.projectNameImage {
    position: relative;
    left: 45px;
    top: 10px;
}

.projectNameText {
    margin: 0px;
    position: relative;
    left: 65px;
    top: -9px;
    font-size: 14px;
}

.projectDeleteImage {
    margin: 0px;
    position: absolute;
    top: 9px;
    right: 20px;
}


.folderItem{
    position: relative;
}

.projectName {
    height: 28px;
    position: relative;
}

.projectNameSelected {
    background-color: white;
    position: relative;
    height: 28px;
}

.dateDiv {
    height: 28px;
    position: relative;
    background-color: #FAFAEE;
    margin-left: 1px;
}

.dateText {
    position: absolute;
    left: 20px;
    top: 7px;
    margin: 0px;
    font-size: 14px;
}

.todoName {
    height: 28px;
}

.todoNameText {
    margin: 0px;
    position: relative;
    left: 35px;
    top: 7px;
    font-size: 14px;
}

#dateTaskDiv {
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 40px;
}

#selectedTaskNameInput {
    position: absolute;
    height: 20px;
    top: 12px;
    left: 10px;
}

#selectedTaskTimeInput {
    position: absolute;
    left: 88px;
    top: 12px;
    height: 20px;
}

#selectedTaskContentTextDiv {
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: 0px;
}

#title {
    color: #A0A0A0;
    font-size: 18px;
    position: relative;
    margin-top: 22px;
    margin-left: 12px;
    font-family: verdana;
    top: 0px;
}

#categoryColumn {
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 0px;
    width: 230px;
    background-color: #F2F2F2;
}

#header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #DDDDDD;
}

#tasksColumn {
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 230px;
    width: 230px;
    background-color: white;
}

.baseContentDiv {
    position: absolute;
    background-color: white;
    width: 45px;
    height: 22px;
    top: 7px;
}

#saveContentDiv {
    right: 65px;
}

#cancelContentDiv {
    right: 10px;
}

#selectedTaskContentButtonsDiv {
    position: absolute;
    height: 40px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-color: #EEEEEE;
}

#selectedTaskColumn {
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 460px;
    right: -2px;
}

#tasksHeader {
    background-color: #EEEEEE;
    width: 100%;
    margin-left: -1px;
    margin-bottom: -1px;
    height: 40px;
    top: -1px;
    position: absolute;
}

.deleteImage{
    position: absolute;
    right: 8px;
    top: 8px;
}

ul {
    list-style-type: none;
    margin-left: -41px;
    margin-top: 0px;
}